.sign-in {
    width: 380px; //30vw  : 30% de la largeur total
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}